.bookshelf-top-row {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  h2 {
    font-family: "BreeSerif";
    margin-bottom: 0.5em;
  }


  .search-button {
    outline: none;
    background-color: var(--blueText);
    color: white;
    text-decoration: none;
    border: 0;
    padding: 0.7em 2em;
    color: var(--Green);
    font-weight: bold;
  }
  
}

.green-button {
  font-weight: bold;
  color: $darkblue;
  background-color: $green;
  padding: 0.7em 2em;
  border-radius: 1em 0 1em 0;
  border: 0px;
  outline: 0px;
  transition: 0.1s ease-in-out;
  &:hover {
    background-color: $blueText;
    color: $green;
  }
}


.bookshelf-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4rem;
}

.create-custom-item-container{
  display:none;
  width:100vw;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.2);
    position:fixed;
    z-index: 100;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
    left:0;
  .create-custom-item{
    width:40%;
    min-width: 350px;
    max-width: 700px;
    background-color: $offwhite;
    padding:3em 4em;
    position: relative;
    h3{
      font-family:"Song";
      font-weight: bold;
    }
  }
}

.close-pop-up{
  position: absolute;
  top:-10px;
  right:-10px;
  background-color:$purple;
  cursor:pointer;
  border-radius: 50%;
  height:40px;
  width:40px;
  color:white;
  -webkit-box-shadow: 5px 4px 32px -10px rgba(0,0,0,0.57); 
  box-shadow: 5px 4px 32px -10px rgba(0,0,0,0.57);
  display:flex;
  justify-content: center;
  align-items: center;
}

@keyframes book-item-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search-bar {
  width: 21rem;
  position: relative;
  i {
    position: absolute;
    font-size: 1rem;
    left: 1em;
    color: rgb(161, 147, 147);
    top: 30%;
  }
  input {
    border: none;
    padding: 0.7em 1em 0.7em 3em;
    border-radius: 0.7em 0 0.7em 0;
    width: 21rem;
    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.31);
    transition: 0.1s ease-in-out;
    &:hover {
      box-shadow: 0px 5px 13px -1px rgba(0, 0, 0, 0.31);
    }
    &:focus {
      outline: none;
      box-shadow: 0px 5px 13px -1px rgba(0, 0, 0, 0.31);
    }
  }
}