.f-col {
  display: flex;
  flex-direction: column;
  width: auto;
}

.home-page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.h-60{
  height:58%;
}

.f-row {
  display: flex;
  flex-direction: row;
}

.dashboard {
  display: flex;
  flex-direction: row;
  padding-left: 5rem;
  flex: 9;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    background-color: var(--purple);
    height: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
  }
}

.dash-cont {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-item {
  min-width: 400px;
  height: 90%;
  position: relative;
  padding: 2em 1em;
  background-color: white;
  box-shadow: -1px 10px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 10px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 16px 0px rgba(0, 0, 0, 0.75);
  overflow-y: hidden;
}

.jcc {
  justify-content: center;
}
.alc { 
  align-items: center;
}

.edit-mode {
  z-index: 20;
  font-family: sans-serif;
  margin-left: 4em;
  color: var(--itemblue);
  margin-top: 0.3em;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  &:hover {
    border-bottom: 1px solid var(--itemblue);
  }
}

.search-screen {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 2.5em;
    background-color: var(--purple);
  }
}

.dash-item-half {
  position: relative;
  padding: 2em;
  padding-bottom: 4em;
  margin-bottom: 1rem;
  min-width: 27.5rem;
  background-color: white;
  margin-left: 3rem;
  box-shadow: -1px 10px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 10px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 16px 0px rgba(0, 0, 0, 0.75);
  h2 {
    font-family: sans-serif;
    text-align: left;
    margin-left: 1rem;
    font-size: 1.6em;
    font-weight: bold;
    color: #16214e;
    position: relative;
    width: fit-content;
    z-index: 1;
  }
}

.dashboard-item-scroll {
  width: 100%;
  height: 87%;
  overflow-y: scroll;
  overflow-x: visible;
  scroll-behavior: smooth;
}

.dashboard-item-half-scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
}

.searchBox {
  z-index: 100;
  background-color: white;
  margin-bottom: 2em;
  margin-left: auto;
  padding-top: 2em;
  padding-left: 10px;
}

.search-box-shadow {
  width: 90%;
  box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 0.6em 2em 0.6em 1em;
  max-height: 40px;
  display: flex;
  flex-wrap: nowrap;
}

.searchInput {
  height: 90%;
  outline: none;
  border: none;
  margin-left: 2em;
  width: 100%;
  background-color: white;
}
.searchIcon {
  margin-left: auto;
  cursor: pointer;
  margin-top: 4px;
}

.no-results {
  width: 100%;
}

.book-item-container {
  display: flex;
  flex-direction: row;
  margin: 0 1em 1.4em 0em;
  text-align: center;
  background-color: white;
  border-radius: 10;
  padding: 0rem 1rem 0rem 0;
  height: 120px;
  position: relative;
  cursor: pointer;
  background-color: white;
  p {
    transition: 0.1s ease-in-out;
  }
  &:hover {
    color: var(--purple);
    background-color: rgb(236, 240, 243);
    .book-item-authors {
      color: var(--purple);
    }
  }
}

.book-img-container {
  min-width: 100px;
  width: 100px;
  height: 100%;
  background-size: contain;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
  .book-item-image {
    height: 100%;
    width: auto;
  }
}

.book-item-text {
  padding: 0 2em 0 2em;
  height: 100%;
  width: 70%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.book-item-title {
  font-size: 16;
  margin-top: 0.5em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-bottom: 0px;
}
.book-item-authors {
  margin-top: 5px;
  color: grey;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}
.bookshelf-button {
  z-index: 100;
  height: 3rem;
  width: 3rem;
  outline: none;
  border: none;
  background-color: var(--bgblue);
  color: white;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 50%;
  transition: 0.1s ease-in-out;
  &:hover {
    border-top-left-radius: 0%;
    background-color: var(--lowPurple);
    span {
      top: -10%;
      transform: rotate(90deg);
    }
  }
  span {
    height: fit-content;
    position: absolute;
    top: 0%;
    bottom: 0;
    margin-top: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    transition: 0.1s ease-in-out;
  }
}

.publishYear {
  margin-top: 0.4em;
}

// Bookshelf
.bs-item {
  position: relative;
  height: 150px;
  width: 100px;
  max-width: 140px;
  min-width: 100px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.75);

  &:hover {
    .bs-info {
      visibility: visible;
      bottom: 0%;
    }
  }
  .bs-item-image {
    width: 100%;
    height: 100%;
  }
  .bs-info {
    position: absolute;
    background-color: var(--bgblue);
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s ease-in-out;
    text-align: center;
    .bs-item-title {
      color: white;
      font-size: 0.8em;
      padding: 0.6em;
    }
    .bs-author {
      font-size: 0.8em;
      color: white;
      font-family: sans-serif;
      padding: 0.6em;
    }
  }
}

.bs-container {
  min-width: 40rem;
  max-width: 58rem;
  height: 32% !important;
  h2 {
    font-family: serif;
    font-size: 1.6em;
    font-weight: bold;
    height: fit-content;
  }
}

.bs-grid {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-bottom: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 100%;
  scroll-behavior: smooth;
}
.sm-seperator {
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  height: 1px;
  background-color: white;
}

.notes-pseudo {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  &::after {
    content: "";
    height: 110%;
    position: absolute;
    right: -15%;
    top: 0;
    width: 90%;
    z-index: -1;
  }
}

.yellow {
  &::after {
    background-color: #fff6a1;
  }
}
.purp {
  &::after {
    background-color: #eee8fb;
  }
}

.notes-list {
  .note-item {
    width: 320px;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 1rem;
    cursor: pointer;
    position: relative;
    padding-right: 1em;
    &::after {
      content: "";
      position: absolute;
      width: 0px;
      right: 0;
      top: 0;
      height: 100%;
      background-color: var(--yellow);
      transition: 0.1s ease-in-out;
    }
    &:hover {
      &::after {
        width: 10px;
      }
    }
    .note-but {
      margin-right: 1em;
      position: relative;
      text-decoration: none;
      outline: none;
      border: none;
      width: 7em;
      height: 2.2em;
      cursor: pointer;
      &:hover {
        .note-but-text {
          left: -20%;
        }
        .note-icon {
          left: 50%;
        }
      }
      .note-but-text {
        height: fit-content;
        width: fit-content;
        z-index: 100;
        position: absolute;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        top: 0;
        bottom: 0.2em;
        transition: 0.1s ease-in-out;
      }
      .note-icon {
        position: absolute;
        left: 0;
        right: 0;
        height: fit-content;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        transition: 0.1s ease-in-out;
      }
    }
    .note-edit-button {
      background-color: #adeafc;
      color: #21a5f1;
      .note-but-text {
        background-color: #adeafc;
      }
    }
    .note-delete-button {
      background-color: #ffbec1;
      color: #db4a58;
      .note-but-text {
        background-color: #ffbec1;
      }
    }
    .note-name {
      font-size: 1.2em;
      font-weight: bold;
      font-family: serif;
      margin-bottom: 0em;
      margin-top: 0em;
      max-width: 90%;
    }
    .note-edited {
      font-size: 0.8em;
      font-weight: lighter;
      color: #2dabf2;
      font-family: sans-serif;
    }
    .note-summ {
      font-size: 0.8em;
      font-weight: lighter;
      font-family: sans-serif;
      margin-top: 0.5em;
      text-overflow: ellipsis;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;
      max-width: 90%;
    }
  }
}

@media screen and (max-width:900px) {
  .home-page-container{
    overflow:hidden;
  }
  .dashboard{
    flex-direction: column !important;
    overflow-y: scroll;
    overflow-x: hidden;

    &::after{
      display: none;
    }
  }
  .bs-container{
    max-width: 60%;
    min-width: 50%;
    max-height: 20rem;
    .bs-grid{
      padding-bottom: 0 !important;
      height: 90%;
    }
    .notes-pseudo{
      top:0;
    }
  }
  .h-60{
    flex-direction: column !important;
  }
  .dash-item-half{
    margin-left: 0rem;
    margin-top:1em;
    max-width: 60% !important;

  }
  .dashboard-item{
    min-height: 35rem !important;
    max-width: 60% !important;
  }
  .f-col{
    padding:0;
  }
}