html {
  --star: #ebb810;
  --bgblue: #2d9aed;
  --blueText: #193888;
  --itemblue: #2a9df5;
  --Purple: #6523ea;
  --lowPurple: rgb(81, 81, 133);
  --darkblue: #10196c;
}

$yellow:#ebb810;
$green: #7cf46f;
$purple:#6523ea;
$itemblue: #2a9df5;
$blueText: #193888;
$lowPurple: rgb(81, 81, 133);
$darkblue: #10196c;
$menu-dropdown: 0px 1px 4px rgba(0, 0, 0, 0.34);
$navbg:#0e1327;
$offwhite:#FAF9F6;

body {
  margin: 0;
  padding: 0;
  background-color: white !important;
  max-width: 100vw;
}

.mr-6{
  margin-right: 5rem;
}

#body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "BreeSerif";
  src: url("/Readie/fonts/BreeSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Song";
  src: url("/Readie/fonts/SongMyung-Regular.ttf") format("truetype");
}
